.calendar_form {
    border: 2px solid rgba(0, 174, 199, 45%);
    padding: 2em .8em;
}
.form_row h1 {
    font-size: 1.3em;
    font-family: 'Quicksand';
    color: #206d78fa;
}
.btn_save_formCalendar {
    display: flex;
    justify-content: space-between;
}
.btn_save_formCalendar button:nth-child(1) {
    font-size: 1.5em;
    font-family: "Roboto";
    color: #ffffff;
    background: #00aec7;
    width: 40px;
    border: #cdf5ff;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btn_save_formCalendar button:nth-child(2) {
    font-size: 1em;
    font-family: "Roboto";
    font-weight: 500;
    color: #ffffff;
    background: #00aec7;
    width: 125px;
    border: 1px solid #00aec7;
    border-radius: 3px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.date_formcalendar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: .5em;
    margin-bottom: 2em;
}
.date_formcalendar li {
    width: 100px
}
@media(min-width: 768px) {
    .date_formcalendar ul {
        justify-content: space-around;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
}
@media(min-width: 1024px) {
    .date_formcalendar ul {
        justify-content: space-between;
        width: 100%;
    }
    .calendar_form {
        width: 85%;
        margin: auto;
        margin-top: 5%;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }
}
@media (min-width: 1920px) {
    .calendar_form {
        width: 65%;
        margin: auto;
        padding-top: 4em;
        padding-bottom: 4em;
        padding-left: 3em;
        padding-right: 3em;
    }
}