
.patient_form {
    border: 2px solid rgba(0, 174, 199, 45%);
    padding-top: 2em;
    padding-bottom: 2em;
}
.form_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.input_add_file {
    height: 220px;
    padding: 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.input_add_file img {
    width: 178px;
    height: 185px;
    border: 1px solid #00AEC7;
    border-radius: 106px;
}
.input_add_file input {
    width: 178px;
    height: 220px;
    opacity: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
}
.input_add_file label {
    margin: 0;
    font-family: 'Roboto';
    text-align: center;
    width: 178px;
    align-self: flex-end;
}
.buttom_save_form {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0 2em;
}
.buttom_save_form button {
    width: 125px;
    border: 1px solid #00aec7;
    background: #00aec7;
    color: #fff;
    font-family: "Roboto";
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.buttom_save_form button:hover {
    color: #CDF5FF;
}
@media(min-width: 768px) {
    .data_row {
        display: flex;
        flex-wrap: wrap;
    }
}
@media(min-width: 1024px) {
    .patient_form {
        width: 75%;
        margin: auto;
        margin-top: 5%;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }
}